# ==========================================
# NEXT.JS FRONTEND ENVIRONMENT VARIABLES
# ==========================================

# Base URL untuk backend NestJS API (Ubah sesuai environment: Local / Production)
NEXT_PUBLIC_API_URL="http://localhost:3000"
